.selected {
  color: red;
}
.disabled {
  color: grey;
}
.page li {
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
